#

# New_grid_porject

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [3]:
import pandas as pd

dataframes = []

df1 = pd.read_excel("D:\\Documentos\\Github\\gridproject\\Dataa\\Generacion_(kWh)_1995.xlsx", header=2)
dataframes.append(df1)

df2 = pd.read_excel("D:\\Documentos\\Github\\gridproject\\Dataa\\Generacion_(kWh)_1996.xlsx", header=0)
dataframes.append(df2)

df3 = pd.read_excel("D:\\Documentos\\Github\\gridproject\\Dataa\\Generacion_(kWh)_1997.xlsx", header=1)
dataframes.append(df3)

df4 = pd.read_excel("D:\\Documentos\\Github\\gridproject\\Dataa\\Generacion_(kWh)_1998.xlsx", header=1)
dataframes.append(df4)

df5 = pd.read_excel("D:\\Documentos\\Github\\gridproject\\Dataa\\Generacion_(kWh)_1999.xlsx", header=1)
dataframes.append(df5)

df6 = pd.read_excel("D:\\Documentos\\Github\\gridproject\\Dataa\\Generacion_(kWh)_2000.xlsx", header=2)
dataframes.append(df6)

df7 = pd.read_excel("D:\\Documentos\\Github\\gridproject\\Dataa\\Generacion_(kWh)_2001.xlsx", header=1)
dataframes.append(df7)

df8 = pd.read_excel("D:\\Documentos\\Github\\gridproject\\Dataa\\Generacion_(kWh)_2002.xlsx", header=1)
dataframes.append(df8)

df9 = pd.read_excel("D:\\Documentos\\Github\\gridproject\\Dataa\\Generacion_(kWh)_2003.xlsx", header=2)
dataframes.append(df9)

df10 = pd.read_excel("D:\\Documentos\\Github\\gridproject\\Dataa\\Generacion_(kWh)_2004.xlsx", header=1)
dataframes.append(df10)

df11 = pd.read_excel("D:\\Documentos\\Github\\gridproject\\Dataa\\Generacion_(kWh)_2005.xlsx", header=1)
dataframes.append(df11)

df12 = pd.read_excel("D:\\Documentos\\Github\\gridproject\\Dataa\\Generacion_(kWh)_2006.xlsx", header=2)
dataframes.append(df12)

df13 = pd.read_excel("D:\\Documentos\\Github\\gridproject\\Dataa\\Generacion_(kWh)_2007.xlsx", header=2)
dataframes.append(df13)

df14 = pd.read_excel("D:\\Documentos\\Github\\gridproject\\Dataa\\Generacion_(kWh)_2008.xlsx", header=2)
dataframes.append(df14)

df15 = pd.read_excel("D:\\Documentos\\Github\\gridproject\\Dataa\\Generacion_(kWh)_2009.xlsx", header=2)
dataframes.append(df15)

df16 = pd.read_excel("D:\\Documentos\\Github\\gridproject\\Dataa\\Generacion_(kWh)_2010.xlsx", header=2)
dataframes.append(df16)

df17 = pd.read_excel("D:\\Documentos\\Github\\gridproject\\Dataa\\Generacion_(kWh)_2011.xlsx", header=2)
dataframes.append(df17)

df18 = pd.read_excel("D:\\Documentos\\Github\\gridproject\\Dataa\\Generacion_(kWh)_2012.xlsx", header=2)
dataframes.append(df18)

df19 = pd.read_excel("D:\\Documentos\\Github\\gridproject\\Dataa\\Generacion_(kWh)_2013.xlsx", header=2)
dataframes.append(df19)

df20 = pd.read_excel("D:\\Documentos\\Github\\gridproject\\Dataa\\Generacion_(kWh)_2014.xlsx", header=2)
dataframes.append(df20)

df21 = pd.read_excel("D:\\Documentos\\Github\\gridproject\\Dataa\\Generacion_(kWh)_2015.xlsx", header=2)
dataframes.append(df21)

df22 = pd.read_excel("D:\\Documentos\\Github\\gridproject\\Dataa\\Generacion_(kWh)_2016.xlsx", header=2)
dataframes.append(df22)

df23 = pd.read_excel("D:\\Documentos\\Github\\gridproject\\Dataa\\Generacion_(kWh)_2017 .xlsx", header=2)
dataframes.append(df23)

df24 = pd.read_excel("D:\\Documentos\\Github\\gridproject\\Dataa\\Generacion_(kWh)_2018.xlsx", header=2)
dataframes.append(df24)

df25 = pd.read_excel("D:\\Documentos\\Github\\gridproject\\Dataa\\Generacion_(kWh)_2019.xlsx", header=2)
dataframes.append(df25)

df26 = pd.read_excel("D:\\Documentos\\Github\\gridproject\\Dataa\\Generacion_(kWh)_2020.xlsx", header=2)
dataframes.append(df26)

df27 = pd.read_excel("D:\\Documentos\\Github\\gridproject\\Dataa\\Generacion_(kWh)_2021.xlsx", header=2)
dataframes.append(df27)

df28 = pd.read_excel("D:\\Documentos\\Github\\gridproject\\Dataa\\Generacion_(kWh)_2022.xlsx", header=2)
dataframes.append(df28)

print(1)

1

In [7]:
df=pd.read_csv("forestfires.csv")

In [8]:
df.head()

   X  Y month  day  FFMC   DMC     DC  ISI  temp  RH  wind  rain  area
0  7  5   mar  fri  86.2  26.2   94.3  5.1   8.2  51   6.7   0.0   0.0
1  7  4   oct  tue  90.6  35.4  669.1  6.7  18.0  33   0.9   0.0   0.0
2  7  4   oct  sat  90.6  43.7  686.9  6.7  14.6  33   1.3   0.0   0.0
3  8  6   mar  fri  91.7  33.3   77.5  9.0   8.3  97   4.0   0.2   0.0
4  8  6   mar  sun  89.3  51.3  102.2  9.6  11.4  99   1.8   0.0   0.0

In [3]:
# URL of the ONI data
url = 'https://origin.cpc.ncep.noaa.gov/products/analysis_monitoring/ensostuff/detrend.nino34.ascii.txt'

# Read the data into a DataFrame
oni = pd.read_csv(url, delim_whitespace=True, header=0)
# Pivot the data to have 'YR' as index, 'MON' as columns, and 'ANOM' as values
oni = oni.pivot(index="YR", columns='MON', values='ANOM')

# Calculate the mean anomaly across months for each year
oni["Mean"] = oni.mean(numeric_only=True, axis=1)

# Categorize each year as El Niño, La Niña, or Neutral based on mean anomaly
oni["Niño/a"] = oni["Mean"].apply(lambda promedio: "El Niño" if promedio > 0.5 else "La Niña" if promedio < -0.5 else "Neutral")

# Reset index and rename 'YR' column to 'Fecha'
oni.reset_index(inplace=True)
oni.rename(columns={"YR": "Fecha"}, inplace=True)

In [4]:
oni.head()

     YR  MON  TOTAL  ClimAdjust  ANOM
0  1950    1  24.56       26.18 -1.62
1  1950    2  25.07       26.39 -1.32
2  1950    3  25.88       26.95 -1.07
3  1950    4  26.29       27.39 -1.11
4  1950    5  26.19       27.56 -1.37

In [13]:
df=pd.read_csv('D:\Documentos\Github\gridproject\datos_extraidos_tabla_9_ONI_v5.php.csv')

In [16]:
df=df.loc[df['Year'] != 'Year']

In [18]:
df.head(11)

,Year,DJF,JFM,FMA,MAM,AMJ,MJJ,JJA,JAS,ASO,SON,OND,NDJ
0,1950,-1.5,-1.3,-1.2,-1.2,-1.1,-0.9,-0.5,-0.4,-0.4,-0.4,-0.6,-0.8
1,1951,-0.8,-0.5,-0.2,0.2,0.4,0.6,0.7,0.9,1.0,1.2,1.0,0.8
2,1952,0.5,0.4,0.3,0.3,0.2,0.0,-0.1,0.0,0.2,0.1,0.0,0.1
3,1953,0.4,0.6,0.6,0.7,0.8,0.8,0.7,0.7,0.8,0.8,0.8,0.8
4,1954,0.8,0.5,0.0,-0.4,-0.5,-0.5,-0.6,-0.8,-0.9,-0.8,-0.7,-0.7
5,1955,-0.7,-0.6,-0.7,-0.8,-0.8,-0.7,-0.7,-0.7,-1.1,-1.4,-1.7,-1.5
6,1956,-1.1,-0.8,-0.6,-0.5,-0.5,-0.5,-0.6,-0.6,-0.5,-0.4,-0.4,-0.4
7,1957,-0.2,0.1,0.4,0.7,0.9,1.1,1.3,1.3,1.3,1.4,1.5,1.7
8,1958,1.8,1.7,1.3,0.9,0.7,0.6,0.6,0.4,0.4,0.4,0.5,0.6
9,1959,0.6,0.6,0.5,0.3,0.2,-0.1,-0.2,-0.3,-0.1,0.0,0.0,0.0
11,1960,-0.1,-0.1,-0.1,0.0,0.0,0.0,0.1,0.2,0.3,0.2,0.1,0.1